<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository/>
  <interactiveMode/>
  <usePluginRegistry/>
  <offline/>
  <pluginGroups/>
  <servers>
        <server>
                <id>cae-releases</id>
                <username>deployer1</username>
                <password>deployer1</password>
        </server>
        <server>
                <id>cae-external-releases</id>
                <username>deployer1</username>
                <password>deployer1</password>
        </server>
        <server>
                <id>cae-snapshots</id>
                <username>deployer1</username>
                <password>deployer1</password>
        </server>
        <server>
                <id>cae-external-snapshots</id>
                <username>deployer1</username>
                <password>deployer1</password>
        </server>
        <server>
                <id>releases</id>
                <username>deployer</username>
                <password>letmein</password>
        </server>
        <server>
                <id>alfresco-private-repository</id>
                <username>Nasa_JLP</username>
                <password>5tfifjbt</password>
        </server>
  </servers>
  <mirrors/>
  <proxies/>
  <profiles/>
  <activeProfiles/>
</settings>
